@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Dongle&family=Duru+Sans&family=Kanit:wght@100&family=Lato:ital,wght@0,300;0,700;1,100&family=Montserrat:wght@200;600&family=Poppins:ital,wght@0,100;0,400;0,500;1,500&family=Roboto+Mono:wght@200;400&family=Roboto:wght@500;900&family=Rubik:wght@500;800&display=swap');
body {
  background: rgb(15, 23, 42);
  color:aliceblue;
  /* cursor:none; */
}
.cursor {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  pointer-events: none;
  z-index: 999999999;
}

